<div class="jumbotron text-center">
    <h1>{{title}}</h1>
    <p1>Lets do some work with your ideas</p1>
    <div class="button" >
    <a href="/ideas/add" class="btn btn-dark btn-lg">Add Ideas</a>
    </div>
</div>